.detailsHeader {
  background-color: #ffffff;
  background-image: url(/img/bg_check3.png);
  background-repeat: repeat;
  background-attachment: fixed;
  height: 190px;
  line-height: 30px;
  padding-top: 120px;
  width: 100%;
  background-size: 100px;
  text-align: center;
  font-weight: bold;
  color: #423332;
  font-size: 40px;
  /* letter-spacing: 0.1em; */
  text-shadow:/* 縁取りの設定 */ -2px -2px 0 rgba(242, 246, 247, 0.9),
    2px -2px 0 rgba(242, 246, 247, 0.9), -2px 2px 0 rgba(242, 246, 247, 0.9),
    2px 2px 0 rgba(242, 246, 247, 0.9);
}

@media (max-width: 959px) {
  /* タブレット向けのスタイル */
  .detailsHeader {
    height: 150px;
    padding-top: 100px;
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  /* スマートフォン向けのスタイル */
  .detailsHeader {
    font-size: 28px;
  }
}
