.contentWrap {
  width: 100%;
  background-color: #f2f6f7;
  color: #111;
  padding-top: 40px;
}

@media (max-width: 959px) {
  /* タブレット向けのスタイル */

}

@media (max-width: 768px) {
  /* スマートフォン向けのスタイル */

}
